.container{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loader{
   
    position: absolute;
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 20px solid rgba(128, 128, 128, 0.467);
    border-top: 20px solid red;
  
    animation: rotate 1s ease-in-out 0s infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }    
}

.text{
    position: absolute;
    font-size: 3rem;
}